@background-gradient {
  .vertical(@color1; @color2; @position1: 0%; @position2: 100%;) {
    /* Fallback for non supporting browsers */
    background: @color1;
    /* For WebKit (Safari, Google Chrome etc) */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(@position1, @color1), color-stop(@position2, @color2));
  	/* For Mozilla/Gecko (Firefox etc) */
  	background: -moz-linear-gradient(top, @color1 @position1, @color2 @position2);
  	/* For Internet Explorer 5.5 - 7 */
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr={@color1}, endColorstr={@color2})";
  	/* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr={@color1}, endColorstr={@color2})";
  }
	.horizontal(@color1; @color2;) {
	  /* Fallback for non supporting browsers */
    background: @color1;
	  /* For WebKit (Safari, Google Chrome etc) */
  	background: -webkit-gradient(linear, left top, right top, color-stop(@position1, @color1), color-stop(@position2, @color2));
  	/* For Mozilla/Gecko (Firefox etc) */
  	background: -moz-linear-gradient(left top, @color1 @position1, @color2 @position2);
  	/* For Internet Explorer 5.5 - 7 */
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr={@color1}, endColorStr={@color2}, GradientType=1)";
  	/* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr={@color1}, endColorstr={@color2}, GradientType=1)";
	}
}

@border-radius {
  .all(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: @border-radius-px @border-radius-px @border-radius-px @border-radius-px;
  	-moz-border-radius: @border-radius-px @border-radius-px @border-radius-px @border-radius-px;
  	border-radius: @border-radius-px @border-radius-px @border-radius-px @border-radius-px;
  }
  .top(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: @border-radius-px @border-radius-px 0 0;
  	-moz-border-radius: @border-radius-px @border-radius-px 0 0;
  	border-radius: @border-radius-px @border-radius-px 0 0;
  }
  .bottom(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: 0 0 @border-radius-px @border-radius-px;
  	-moz-border-radius: 0 0 @border-radius-px @border-radius-px;
  	border-radius: 0 0 @border-radius-px @border-radius-px;
  }
  .left(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: @border-radius-px 0 0 @border-radius-px;
  	-moz-border-radius: @border-radius-px 0 0 @border-radius-px;
  	border-radius: @border-radius-px 0 0 @border-radius-px;
  }
  .right(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: 0 @border-radius-px @border-radius-px 0;
  	-moz-border-radius: 0 @border-radius-px @border-radius-px 0;
  	border-radius: 0 @border-radius-px @border-radius-px 0;
  }
  .top-left(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: @border-radius-px 0 0 0;
  	-moz-border-radius: @border-radius-px 0 0 0;
  	border-radius: @border-radius-px 0 0 0;
  }
  .top-right(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: 0 @border-radius-px 0 0;
  	-moz-border-radius: 0 @border-radius-px 0 0;
  	border-radius: 0 @border-radius-px 0 0;
  }

  .bottom-left(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: 0 0 0 @border-radius-px;
  	-moz-border-radius: 0 0 0 @border-radius-px;
  	border-radius: 0 0 0 @border-radius-px;
  }
  .bottom-right(@border-radius-px: @cornerRadius) {
    -webkit-border-radius: 0 0 @border-radius-px 0;
  	-moz-border-radius: 0 0 @border-radius-px 0;
  	border-radius: 0 0 @border-radius-px 0;
  }
}

@font {
  font-family: @fontFamily;
  font-size: @fontSize;
  line-height: @lineHeight;
  .family {
    font-family: @fontFamily;
  }
  .size {
    font-size: @fontSize;
  }
  .lineHeight {
    line-height: @lineHeight;
  }
}

@shadow (@color: #000; @blur: 15px; @x: 0; @y: 0; @spread: 0; @inset) {
	-webkit-box-shadow: @x @y @blur @spread @color @inset;
	-moz-box-shadow: @x @y @blur @spread @color @inset;
	box-shadow: @x @y @blur @spread @color @inset;
}