#navigate-settings {
  position: relative;
  overflow: hidden;
  
  /*UI tabs*/
  ul.ui-tabs-nav {
  	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
  	position: absolute;
  	top: 0; bottom: 0; left: 0;
  	width: 150px;
  	margin: 10px;
  	padding: 10px 25px 10px 10px;
  	overflow: hidden;
  	@background-gradient > .vertical(@tabs-background; @tabs-background2);
    @border-radius > .left;

    li {
    	/*resets*/background: none; margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
    	float: left;
    	margin: 2px 0;
    	overflow: hidden;
    	width: 100%;
    	@background-gradient > .vertical(@tabs-tab-background; @tabs-tab-background2);
      @border-radius > .left;
      a {
      	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
      	float: left;
      	padding: 0.5em 0 0.5em 10px;
      	color: #555555;
      	width: 100%;
      }
    }
    li.ui-tabs-selected {
    	@background-gradient > .vertical(@tabs-tab-active-background; @tabs-tab-active-background2);
    }
    li.ui-state-hover {
    	@background-gradient > .vertical(@tabs-tab-active-background + rgb(20%,20%,20%); @tabs-tab-active-background2 + rgb(20%,20%,20%));
    }
    li.ui-tabs-selected a,
    li.ui-tabs-selected a:hover,
    li.ui-state-hover a,
    li.ui-state-hover a:hover {
      text-decoration: none;
      color: #fff;
    }
    
  }
  .ui-tabs-panel {
  	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 160px;
  	margin: 10px 32px 10px 10px;
  	padding: 10px;
  	@font;
  	@background-gradient > .vertical(@tabs-panel-background; @tabs-panel-background2);
    @border-radius > .all;
    color: #000;
    overflow: auto;  	
    @shadow(rgba(0,0,0,0.5));
  }
  .ui-tabs-hide {
  	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
  }

  .section-header {
    color: rgb(127,0,5);
    font-family: "Trebuchet MS", "Arial";
    border-bottom: 1px dotted #7F0005;
  }

  .section-content {
    padding: 20px;
  }
}

#navigate-plugin-list li {
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 14pt;
  text-align: center;
}