/********************
 * Navigate Styling *
 ********************/
    #navigate {
      position:fixed;
      height: 100%;
      width: 220px;
      top:0;
      left:0;
      color: white;
      text-align:left;
      z-index: @zIndex;
      @background-gradient > .vertical(@navigate-background; @navigate-background2);
      @shadow(rgba(0,0,0,@opacity);20px);
/*      @border-radius > .right;*/
      @font;
    }
    #navigate-inner {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
    #navigate-overlay {
      display: none;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background: #000;
      background: rgba(0,0,0,0.5);
      z-index: 5100;
      @border-radius > .right;
    }
    #navigate-switch {
      position: fixed;
      top:0;
      left:0;
      @background-gradient > .vertical(@widget-background; @widget-background2);
      @border-radius > .right;
      @shadow;
      color: #fff;    	
      cursor:pointer;
      @font;
      font-weight: bold;
      height:20px;
      padding: 2px 15px 0 10px;
      z-index: @zIndex + 1;
    }
    
    #navigate.visible #navigate-switch {
      clip: rect(0px, 100px, 22px, 0px);
    }
    
    #navigate-settings-button {
      position: absolute;
      left: 65px;
      @background-gradient > .vertical(@navigate-settings-background; @navigate-settings-background2);
      color: #fff;
      @border-radius > .right;
      height:20px;
      padding: 2px 15px 0 25px;
      font-family: "Trebuchet MS","Arial";
      font-size: 10pt;
      font-weight: bold;
      cursor:pointer;
      z-index: 5000;
    }

    #navigate-queue {
      position:absolute;
      top: -5px;
      right: 0;
      width: 32px;
      height: 32px;
      background: url('../../images/processing.gif');
      z-index: 5000;
    }
    #navigate-top {
      position: relative;
      background: @navigate-background2;
      height:22px;
      width:100%;
    }
    #navigate-content {
      position: absolute;
      top: 22px;
      bottom: 17px;
      border-top: 2px solid @navigate-background2 - rgb(20%,20%,20%);
      width:100%;
    }
    #navigate-bottom {
      position: absolute;
      bottom: 0;
      height:17px;
      width:100%;
    }

.ui-resizable-handle {
  background: none !important;
  border: 0 !important;
}
/******************
 * Widget Styling *
 ******************/
    .navigate-widget-list {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0 10px 10px 10px;
    }
    .navigate-widget-list .ui-sortable-placeholder {
      overflow: hidden;
      visibility: visible !important;
      border: 1px dotted #fff;
      @border-radius > .all;
    }
    .navigate-widget-list .ui-sortable-placeholder * {
      visibility: hidden;
    }
    .navigate-widget {
      position: relative;
      @background-gradient > .vertical(@widget-background; @widget-background2);
      @shadow(@widget-shadow; 10px);
      border: 1px solid @widget-border;
      @border-radius > .all;
      width: 100%;
      margin: 10px 0 0 0;
      padding: 15px 0 5px;
      a:link, a:visited, a:active {
        color: @widget-text-color;
        font-weight:normal;
        font-size:12px;
        text-decoration:none;
      }
      a:hover {
        color: @widget-text-color + rgb(20%,20%,20%);
        text-decoration: underline;
      }
    }
    .navigate-widget.remove-widget {
      background: rgb(127,0,5);
    	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(31,0,1)), color-stop(1, rgb(127,0,5)));
      background: -moz-linear-gradient(center bottom, rgb(31,0,1) 0%, rgb(127,0,5) 100%);
    	-webkit-box-shadow: 0 0 15px rgb(127,0,5);
    	-moz-box-shadow: 0 0 15px rgb(127,0,5);
    	box-shadow: 0 0 15px rgb(127,0,5);
      border-color: rgb(127,0,5);
      z-index: 5001;
    }
    .navigate-widget-title {
      position:absolute;
      top: 0; left: 0; right: 15px;
      letter-spacing: 1px;
      padding: 0 0 5px 10px;
      font-size:10pt;
      font-weight: bold;
      overflow:hidden;
      white-space:nowrap;
    }
    .navigate-widget-title.customize {
      cursor: move;
    }
    .navigate-widget-slider {
      height: 0;
      visibility: hidden;
      overflow: hidden;
    }
    .navigate-widget-content {
      visibility: hidden;
    }
    .navigate-title-input {
      position: absolute;
      top: -10px;
      left: 5px;
      right: 5px;
      height: 20px;
      border: none;
      font-family: Arial;
      font-size:16px;
      padding:2px;
      background: #FFF4AF;
      width: 92%;
      @border-radius > .all(5px);
    }
    .navigate-widget-settings {
      display: none;
      padding: 10px;
    }
    .navigate-widget-settings * {
      margin: 0;
    }
    .navigate-widget-settings .form-item {
      padding: 1em 0;
    }
    .navigate-widget-settings-button {
      position:absolute;
      background: url('../images/cog-small.png') no-repeat center;
      width:15px;
      height:15px;
      top: -4px;
      right: -2px;
      cursor:pointer;
    }
    .navigate-widget-settings-close {
      margin: 10px 5px;
    }
    .navigate-widget-delete {
      display: none;
      position:absolute;
      background: url('../images/close.png') no-repeat center;
      width:15px;
      height:15px;
      top: -4px;
      right: -2px;
      cursor:pointer;
      z-index: 5000;
    }
    
    #navigate-widget-remove {
      position: fixed;
      top: 0;
      right: 200px;
      bottom: 0;
      left: 0;
      visibility: hidden;
    }
    #navigate-widget-remove div {
      position: relative;
      top: 40%;
      line-height: 48pt;
      font-size: 48pt;
      font-family: "Trebuchet MS", "Arial";
      text-align: center;
    }
    #navigate-widget-remove.ui-state-active {
      background: rgb(255,191,191);
      background: rgba(255,191,191,0.75);
      border: 5px dashed rgb(127,0,5);
      @border-radius > .all;
      color: rgb(127,0,5);
      visibility: visible;
      z-index: 5000;
    }
       
/******************
 * Inputs *
 ******************/
 
#navigate select {
  width: 100%;
}

.navigate-submit {
  height: 15px;
  border: 1px outset rgb(63,0,3);
  background: rgb(143,0,6);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(63,0,3)), color-stop(1, rgb(143,0,6)));
  background: -moz-linear-gradient(center bottom, rgb(63,0,3) 0%, rgb(143,0,6) 100%);
  padding:3px 9px 1px;
  color:#fff;
  font-size:11px;
  cursor:pointer;
  text-align:center;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.navigate-text-input {
  background: url('../images/input-bg.png') top repeat-x #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(200,200,200)));
  background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 0%, rgb(200,200,200) 100%);
	-webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  height: 15px;
  border: 1px solid white;
  padding: 2px 2px 2px 5px;
}

.navigate-text-input.focus {
  -webkit-box-shadow: 0 0 5px #fff;
  -moz-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}
.navigate-plugin-list-outer {
  padding:2px;
}
.navigate-divider {
  border-top:1px solid #474747;
  margin:3px;
}
.navigate-link-help {
  width:300px;
  line-height:normal;
}
.navigate-link-title {
  font-size:12px;
  font-weight:bold;
}
.navigate-link-link {
  padding-top:5px;
  font-size:10px;
  font-style:italic;
}
.navigate-link-description {
  padding-top:5px;
  font-size:11px;
}
.navigate-link-label {
  font-style:italic;
}
.navigate-widget-label {
  font-size:10px;
  font-style:italic;
}
#tooltip {
  width:300px;
  font-size:12px;
  line-height:normal;
  color:black;
}
.navigate-results {
  padding:5px;
}
.navigate-textarea {
  font-size:9px;
  width:155px;
  height:80px;
  padding:1px;
}
.navigate-filter-item input {
  margin:0px;
}
.navigate-textarea-outer {
  padding-left:5px;
  padding-right:5px;
}
.navigate li.expanded,.navigate li.collapsed, li.leaf {
  padding:0.2em 0.5em 0 0;
}
.navigate-toc-link {
  font-size:12px;
  margin-left:5px;
}
.navigate-absolute {
  position:absolute;
}
.navigate-admin-tools-outer {
  position:absolute;
  left:220px;
  top:40px;
  background-color:black;
  color:white;
  width:400px;
  padding:2px;
}
.navigate-admin-tools-inner {
  border:1px solid #5B5B5B;
  background-color:#141414;
  padding:5px;
}
.navigate-admin-tools-heading {
  font-size:18px;
  text-align:center;
  margin-top:10px;
}
.navigate-admin-tools-outer a, .navigate-admin-tools-outer a:visited {
  color:white;
}
.navigate-defaults-table tbody {
  border:none;
}
.navigate-defaults-table td {
  border-top:1px solid #5B5B5B;
  white-space:nowrap;
}
.navigate-default-switch-back {
  background-color: #B41617;
  text-align:center;
  padding:3px;
  display:block;
  font-weight:bold;
  margin-top:4px;
}
.default-disabled {
  font-style:italic;
  color:#ACA9AB;
}
#navigate-set-username {
  width: 100%;
  padding:2px;
  padding-left:5px;
  padding-right:5px;
}
.navigate-admin-tools-outer {
  display:none;
}
.navigate-key-button {
  font-size:8px;
  float:right;
  margin-right:20px;
  cursor:pointer;
}
.navigate-help-button {
  font-size:8px;
  float:right;
  margin-right:20px;
  cursor:pointer;
}
.key-disabled {
  font-style:italic;
  color:silver;
}
.navigate-username-empty {
  font-style:italic;
  color:#BEBEBE;
}
.navigates-default-table-label {
  font-weight:bold;
  text-align:right;
  padding-right:10px;
}
.navigate-textarea-outer {
  margin-top:10px;
}
.navigate-user-search-outer {
  padding-right:15px;
}
.navigate-import-export {
  padding-left:10px;
  padding-right:10px;
  padding-bottom:20px;
  text-align:center;
}
.navigate-import-export textarea {
  width:100%;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	margin: 10px;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
}

.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	position: relative;
}

.jspDrag {
  @background-gradient > .vertical(@navigate-settings-background; @navigate-settings-background2);
  @border-radius > .all(5px);
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
  @background-gradient > .vertical(@navigate-settings-background; @navigate-settings-background2);
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}