@import url("theme/functions.tpl.css");

thead th {
  padding: 0.3em 0.5em;
}
a.ids {
  font-size: 7pt;
  outline: none;
}
a.ids:focus {
  -moz-outline-style: none;
}
ul.ids {
  display: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  font-size: 7pt;
  padding: 0;
  margin: 0;
  @border-radius > .all(10px);
}

ul.ids li {
  background: none;
  padding: 0;
  margin: 0 0 0 25px;
  list-style: disc;
}

tr.draggable td .form-item {
  display: inline;
}

#edit-ids {
  display: none;
}

fieldset.error > legend, fieldset.error > legend a:link, fieldset.error > legend a:visited, fieldset.error > legend a:hover {
  color: #EE5555;
}

/* Example tokeninput style #2: Mac Style */
fieldset.token-input-navigate {
  position: relative;
  padding: 0;
  margin: 5px 0;
  background: #fff;
  border: 1px solid #A4BDEC;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

fieldset.error {
  @background-gradient > .vertical(#FFE2E2; #FFFFFF; 25%; 100%;);
  border: 1px solid #C52020;
}

fieldset.token-input-navigate.token-input-dropdown-navigate {
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
}

ul.token-input-list-navigate {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 3px;
    background: transparent;
}

ul.token-input-list-navigate.error {
  border: 1px solid #C52020;
}

ul.token-input-list-navigate li {
    list-style-type: none;
}

li.token-input-token-navigate p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-navigate span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* TOKENS */

li.token-input-token-navigate {
    font-family: "Lucida Grande", Arial, serif;
    font-size: 9pt;
    line-height: 12pt;
    overflow: hidden; 
    height: 16px; 
    margin: 3px;
    padding: 0 10px;   
    background: none; 
    background-color: #dee7f8;
    color: #000;
    cursor: default;
    border: 1px solid #a4bdec;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: left;
}

li.token-input-highlighted-token-navigate {
    background-color: #bbcef1;
    border: 1px solid #598bec;
    color: #000;
}

li.token-input-selected-token-navigate {
    background-color: #598bec;
    border: 1px solid transparent;
    color: #fff;
}

li.token-input-highlighted-token-navigate span.token-input-delete-token-navigate {
    color: #000;
}

li.token-input-selected-token-navigate span.token-input-delete-token-navigate {
    color: #fff;
}

li.token-input-input-token-navigate {
    border: none;
    background: transparent;
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-input-token-navigate input {
  border: 0;
  width: 100px;
  padding: 3px;
  background-color: transparent;
  margin: 0;
}

div.token-input-dropdown-navigate {
    position: absolute;
    border: 1px solid #A4BDEC;
    border-top: none;
    left: -1px;
    right: -1px;
    background-color: #fff;
    overflow: hidden;
    cursor: default;
    font-size: 10pt;
    font-family: "Lucida Grande", Arial, serif;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    clip:rect(0px, 2000px, 2000px, -10px);
}

div.token-input-dropdown-navigate p {
    font-size: 8pt;
    margin: 0;
    padding: 0 5px;
    font-style: italic;
    color: #aaa;
}

div.token-input-dropdown-navigate h3.token-input-dropdown-category-navigate {
  font-family: "Lucida Grande", Arial, serif;
  font-size: 10pt;
  font-weight: bold;
  border: none;
  padding: 0 5px;
  margin: 0;
}

div.token-input-dropdown-navigate ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-navigate ul li {
    list-style-type: none;
    cursor: pointer;
    background: none;
    background-color: #fff;
    margin: 0;
    padding: 0 0 0 25px;
}

div.token-input-dropdown-navigate ul li.token-input-dropdown-item-navigate {
    background-color: #fff;
}

div.token-input-dropdown-navigate ul li.token-input-dropdown-item-navigate.odd {
    background-color: #ECF4F9;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

div.token-input-dropdown-navigate ul li.token-input-dropdown-item-navigate span.token-input-dropdown-item-description-navigate {
    float: right;
    font-size: 8pt;
    font-style: italic;
    padding: 0 10px 0 0;
    color: #999;
}

div.token-input-dropdown-navigate ul li strong {
    font-weight: bold;
    text-decoration: underline;
    font-style: none;
}

div.token-input-dropdown-navigate ul li.token-input-selected-dropdown-item-navigate,
div.token-input-dropdown-navigate ul li.token-input-selected-dropdown-item-navigate.odd {
    background-color: #598bec;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

div.token-input-dropdown-navigate ul li.token-input-selected-dropdown-item-navigate span.token-input-dropdown-item-description-navigate,
div.token-input-dropdown-navigate ul li.token-input-selected-dropdown-item-navigate.odd span.token-input-dropdown-item-description-navigate {
    color: #fff;
}
