.navigate-menu-icon {
  background:url('icon.png') center no-repeat;
  height:34px;
}
.navigate-menu-output {
  padding:5px;
  overflow:hidden;
}
.navigate-menu-output select {
  width:100%;
}
.navigate-menu-list {
  text-align:left;
}
.navigate-menu-list li {
  white-space:nowrap;
}
.navigate-menu-list li.expanded, .navigate-menu-list li.leaf {
  list-style-image:none;
  list-style:none;
  background-position: 0 0;
  margin-top:1px;
}
.navigate-menu-list li.leaf {
  padding: 1px 0 1px 16px;
  margin:0px;
}
.navigate-menu-outer {
  padding:3px;
}