.navigate-block-icon {
  background:url('icon.png') center no-repeat;
  height:34px;
}
.navigate-textarea-container .navigate-content-input {
  width:157px;
}
.navigate-block-output {
  padding:5px;
}